.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
    color: #000;
    &_fz14 {
        font-size: 14px;
        line-height: 21px;
    }
    &_fz16 {
        font-size: 16px;
        line-height: 24px;
        color: #fff;
    }
    &_fz48 {
        font-size: 48px;
        color: #fff;
    }
    &_fz20 {
        font-size: 20px;
        line-height: 30px;
    }
    &__fz16-ab {
        font-size: 16px;
        line-height: 24px;
    }
    &__fz36-ab {
        font-size: 36px;
        line-height: 35px;
    }
}
@media (max-width: 575px) {
    .title {
        &_fz48 {
            font-size: 38px;
            line-height: 35px;
        }
    }
}

@media (max-width: 480px) {
    .title {
        &_fz48 {
            font-size: 34px;
            line-height: 32px;
        }
    }
}

@media (max-width: 320px) {
    .title {
        &_fz48 {
            font-size: 28px;
            line-height: 30px;
        }
    }
}